{% extends 'master.twig' %}

{% block headerClass %}class="alt"{% endblock headerClass %}

{% block banner %}
<!-- Banner -->
    <section id="banner">
        <div class="inner">
            <div class="logo"><img class=icon alt="{{ config.get('general/sitename') -}}" src="{{ asset('images/logo.svg' , 'theme')}}"/></span></div>
            <h2>{{ config.get('general/sitename') -}}</h2>
            <p>{{ config.get('general/payoff') }}</p>
        </div>
    </section>
{% endblock banner %}

{% block content %}

    {% setcontent lastPages = 'pages' earliest limit 10 %}
    {% for page in lastPages %}
        <!-- Loop {{ loop.index }} -->
        <section id="{% if loop.first %}one{% elseif loop.index == 2 %}two{% else %}three{% endif %}"
                 class="wrapper {% if loop.index % 2 == 0%}alt {% endif %}spotlight style{{ loop.index }}">
                <div class="inner">
                    {% if page|link is not empty %}
                    <a href="{{ page|link }}" class="image">
                      <img src="{{ thumbnail(page.image, 500, 500) }}" title="Photo: Philippe Tyssandier">
                    </a>
                    {% endif %}
                    <div class="content">
                        <h2 class="major"><a href="{{ page|link }}">{{ page.title }}</a></h2>
                        <p>{{ page.teaser }}</p>
                        {# <a href="{{ page|link }}" class="special">Plus d'infos</a> #}

                        {% for entry in page|related %}
                            &nbsp;•&nbsp;<span><a href="{{ entry|link }}" title="{{ entry.teaser }}" style="white-space: nowrap;">{{ entry.title }}</a></span> 
                        {% endfor %}
                    </div>
                    </div>

            </section>

    {% endfor %}
{% endblock content %}
