{% extends 'master.twig' %}

{% block content %}

{% if record.image is not empty %}
<style>
  @media screen and (max-width: 4000px) {
    #wrapper > header {
      background-image: url("{{ record.image }}");
    }
  }
</style>
{% endif %}

<header>
    <div class="inner">
        <h2><a href="/" title="Retour à la page d'accueil">{{ record.title }}</a></h2>
        <p>{{ record.teaser }}</p>
    </div>
</header>

<!-- Content -->
    <div class="wrapper">
        <div class="inner">
            {{ record.body }}

            {% set related_entries = record|related %}
            {% if related_entries is not empty %}
            <section class="features">
                {% for entry in page|related %}
                        <article>
                            <a class="image" href="{{ entry|link }}"><img src="{{ entry.image|thumbnail(572, 333, "c") }}" alt="" /></a>
                            <a href="{{ entry|link }}"><h3 class="major">{{ entry.title }}</h3></a>
                            <p>{{ entry.teaser }}</p>
                            <a href="{{ entry|link }}" class="special">Plus de photos</a>
                        </article>
                    {% endfor %}
            </section>
            {% endif %}

        </div>

  {% for image in record.gallery %}
    <a href="{{ image }}" class="magnific image">
      <img src="{{ thumbnail(image) }}" height="276" alt="{{ image.alt }}" title="{{ image.alt }}">
    </a>
  {% endfor %}

    </div>

{% endblock content %}
